# config.toml
baseURL = "https://asorman.io/"
languageCode = "en-us"
title = "An Aronasaur"

disableKinds = ["taxonomy"]

[menu]
[[menu.main]]
name = "About Me"
url = "/about/"
weight = 1
[[menu.main]]
name = "Blog"
url = "https://blog.asorman.io/"
weight = 2
[[menu.main]]
name = "Poetry"
url = "https://poetry.asorman.io/"
weight = 3
[build]
[build.buildStats]
enable = true
[[build.cachebusters]]
source = 'assets/notwatching/hugo_stats\.json'
target = 'css'
[[build.cachebusters]]
source = '(postcss|tailwind)\.config\.js'
target = 'css'
[module]
[[module.mounts]]
source = 'assets'
target = 'assets'
[[module.mounts]]
disableWatch = true
source = 'hugo_stats.json'
target = 'assets/notwatching/hugo_stats.json'
