<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    {{ partialCached "css.html" . }}
    <script src="https://cdn.usefathom.com/script.js" data-site="XRMVZUYU" defer></script>
</head>
<body class="bg-gray-950 text-gray-200 min-h-screen flex flex-col">
    <header class="container mx-auto px-4 py-6">
        <nav class="flex justify-between items-center">
            <a href="/" class="text-xl font-medium">{{ .Site.Title }}</a>
            <div class="space-x-6">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" class="hover:text-white transition">{{ .Name }}</a>
                {{ end }}
            </div>
        </nav>
    </header>
    <main class="container mx-auto px-4 py-8 flex-grow">
        {{ block "main" . }}{{ end }}
    </main>
    <footer class="container mx-auto px-4 py-6 text-center text-gray-500 text-sm">
        <div class="mb-2"> &copy; {{ now.Format "2006" }} Aron Asor</div>
    </footer>
</body>
</html>
